.page-container {
	
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	padding-left: 10px;
	padding-right: 10px;


	@media #{$tablet} {
		padding-left: 10px;
		padding-right: 10px;
	}

	@media #{$desktop} {
		padding-left: 20px;
		padding-right: 20px;
	}

}