/*
 *	Vars: Breakpoints
 *	--------------------------------------------------
 */
 
$tablet: "only screen and (min-width: 768px)";
$desktop: "only screen and (min-width: 1024px)";

/*
 *	Vars: Typography
 *	--------------------------------------------------
 */
$FONT_SIZE: 16;
$base-font-size: 16px;
$base-font: Helvetica, sans-serif;





